<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pollutant AQI in the U.S.</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

</head>

<body>
  <div class="container">

      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>AQI Data in the U.S.</h1>
          <p>Use the interactive charts below to explore the dataset</p>
        </div>
      </div>

      <div class="row">
        <div id = "myDiv"> </div>
      </div>
      <div class="row">
        <div class="well">
          <h5>Select Year:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>

        </div>
      </div>

      <div class="row">
        <h3> Carbon Dioxide AQI for San Diego California</h3>
        <div id="myChart"></div>
      </div>
      <div class="row">
        <div class = "col-sm-12">
        <div id="bar"></div>
        </div>
      </div>
        
  </div>

  <!-- scripts -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="https://cdn.zingchart.com/modules/"></script> -->
  <script src="/static/js/app.js"></script>


</body>

</html>

